[[!meta robots="noindex"]]
[[!meta title="Ubuntu"]]
[[!meta stylesheet="bootstrap" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/router-debian" rel="stylesheet" title=""]]

[[!inline pages="install/inc/tails-installation-assistant.inline" raw="yes"]]

[[<span class="back">Back</span>|install/os]]

<h1 class="text-center"><strong>Ubuntu</strong></h1>

<div id="scenarios" class="row">
  <div class="col-md-6">

    [[!inline pages="install/inc/router/clone" raw="yes"]]

    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Install from another Tails</h3>
        </div>
      </div>
    |install/debian/clone/overview]]

  </div>
  <div class="col-md-6">

    <h3>Download and install</h3>

    <h4>You need:</h4>

    <ul>
      <li>1 USB stick <small>(at least 4 GB)</small></li>
      <li>30&ndash;60 minutes to download Tails <small>[[!inline pages="inc/stable_i386_iso_size" raw="yes"]]</small></li>
      <li>25 minutes to install</li>
    </ul>

    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Install from Ubuntu</h3>
        </div>
      </div>
    |debian/usb/overview]]

    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><small>Install from Ubuntu using the</small><br />command line <small> and </small> GnuPG</h3>
        </div>
      </div>
    |expert/usb/overview]]

  </div>
</div>

<div class="row also">
  <div class="col-sm-4 col-sm-offset-8">
    <small>

      You can also:
      <ul>
        <li>[[Burn Tails on a DVD|dvd]]</li>
        <li>[[Run Tails in a virtual machine|vm]]</li>
      </ul>

    </small>
  </div>
</div>
