[[!meta robots="noindex"]]
[[!meta title="Mac"]]
[[!meta stylesheet="bootstrap" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/router-mac" rel="stylesheet" title=""]]

[[!inline pages="install/inc/tails-installation-assistant.inline" raw="yes"]]

[[<span class="back">Back</span>|install/os]]

<h1 class="text-center"><strong>Mac</strong></h1>

<p>Tails is not working on every Mac model and you might have to try <strong>different
installation methods</strong>.</p>

<p>At the end, maybe:</p>

<ul>
  <li>Tails will work <strong>perfectly</strong>!</li>
  <li>You will start Tails with <strong>some core features missing</strong>.</li>
  <li>You will start Tails with <strong>Wi-Fi or graphics problems</strong>.</li>
  <li>It will be <strong>impossible</strong> to start Tails on your Mac.</li>
</ul>

<h2>Anyway, ready to give it a try?</h2>

<ol class="mac_install">
  <li>

    <p>If you know someone of trust who uses Tails already, you can try installing your USB stick by copying from it. Make sure that this Tails is up-to-date.</p>

    <div class="row">
      <div class="col-sm-8">

        [[
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Try cloning from another Tails</h3>
            </div>
          </div>
        |mac/clone/overview]]

      </div>
    </div>
  </li>
  <li>

    <p>If you don't know anyone who uses Tails or if you tried to clone and
    failed starting, then you can try this other 3 methods:</p>

    <div class="row">
      <div class="col-sm-4">

        [[
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><small>Install from</small><br />Windows or Linux</h3>
            </div>
          </div>
        |os]]

      </div>
      <div class="col-sm-4">

        [[
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Burn a DVD <br /><small>and then install</small></h3>
            </div>
          </div>
        |mac/dvd/overview]]

      </div>
      <div class="col-sm-4">

        [[
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><small>Install using</small><br />the command line</h3>
            </div>
          </div>
        |mac/usb/overview]]

      </div>
    </div>
  </li>
</ol>

<div class="row also">
  <div class="col-sm-4 col-sm-offset-8">
    <small>

    You can also:
      <ul>
        <li>[[Run Tails in a virtual machine|vm]]</li>
      </ul>

    </small>
  </div>
</div>
