[[!meta robots="noindex"]]
[[!meta stylesheet="bootstrap" rel="stylesheet"]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!inline pages="install/inc/tails-installation-assistant.inline" raw="yes"]]

[[<span class="back">Back</span>|install]]

<h1>Which <strong>operating system</strong> are you installing Tails from?</h1>

<div class="row">
  <div class="col-md-6">
    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Windows</h3>
        </div>
      </div>
    |install/win]]
  </div>

  <div class="col-md-6">
    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Mac OS X</h3>
        </div>
      </div>
    |install/mac]]
  </div>

  <div class="col-md-6">
    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Ubuntu</h3>
        </div>
      </div>
    |install/debian]]
  </div>

  <div class="col-md-6">
    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Other Linux <small>(Red Hat, Fedora, etc.)</small></h3>
        </div>
      </div>
    |install/linux]]
  </div>
</div>
