/* RTL support */

html[dir="rtl"] .sidebar {
       float: left;
       margin-left: 0;
       margin-right: 2em;
}

html[dir="rtl"] .sidebar .download a {
       background-position: 1em 50%;
}

html[dir="rtl"] #tor_check {
      float: right;
      margin: 0 0 0 2em;
}

html[dir="rtl"] .pageheader #otherlanguages {
    left: 0;
    right: auto;
    width: 100%;
}

html[dir="rtl"] #homepage #news, html[dir="rtl"] #page-found_a_problem #bugs, html[dir="rtl"] #page-download #http {
       margin-right: 0;
       margin-left: 2em;
}

html[dir="rtl"] div.contribute-roles-1 {
       margin: 0;
}
