[[!meta robots="noindex"]]
[[!meta title="Mac: burn a DVD and then install"]]
[[!meta stylesheet="bootstrap" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/overview" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/mac-dvd" rel="stylesheet" title=""]]

[[!inline pages="install/inc/tails-installation-assistant.inline" raw="yes"]]

[[<span class="back">Back</span>|install/mac]]

<h1 class="text-center">Mac: <strong>burn a DVD</strong> and then install</h1>

[[!inline pages="install/inc/overview" raw="yes"]]

[[
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Let's go!</h3>
  </div>
</div>
|install/mac/dvd]]

<div class="clearfix"></div>
