Download and verify the Tails ISO image
=======================================

<div class="step-image">[[!img install/inc/infography/download-and-verify.png link="no"]]</div>

In this step you will download Tails as an ISO image: a single file containing the whole operating system.
For your security, it is very important to also verify your download. We propose you
two techniques to do this verification automatically.

<div id="download-and-verify">
  <div id="extension-version">0.2.7rc1</div>

  <div id="undetected-browser">
    <p>We failed to detect your browser vendor, maybe because JavaScript is disabled.</p>
    <p>You can download and verify the ISO image via:</p>
    <div class="row download-options">
      <div class="col-md-6 extension">
        <h2>Browser add-on</h2>
        <p>for Firefox <span class="minver-firefox">38.0.1</span>+ or
           Tor Browser <span class="minver-tor">5</span>+</p>
	<p>A Firefox add-on to download and verify Tails automatically.</p>
        <p>Copy and paste this link in Firefox or Tor Browser:</p>
        <code>https://tails.boum.org/download</code>
        <a href="?override=firefox" class="btn btn-lg btn-primary browser-override">I'm already in Firefox <span class="minver-firefox">38.0.1</span>+ or Tor Browser <span class="minver-tor">5</span>+.</a>
      </div>
      <div class="col-md-6 bittorrent">
        <h2>BitTorrent</h2>

        [[!inline pages="install/inc/steps/bittorrent_verification.inline" raw="yes"]]

        <a href='[[!inline pages="inc/stable_i386_torrent_url" raw="yes"]]' class="btn btn-lg btn-primary">Download Torrent file</a>
      </div>
    </div>
  </div>

  <div id="unsupported-browser">
    <p>You seem to be using an unsupported browser.</p>
    <p>You can download and verify the ISO image via:</p>
    <div class="row download-options">
      <div class="col-md-6 extension">
        <h2>Browser add-on</h2>
        <p>for Firefox <span class="minver-firefox">38.0.1</span>+ or
           Tor Browser <span class="minver-tor">5</span>+</p>
	<p>A Firefox add-on to download and verify Tails automatically.</p>
        <p id="unsupported-firefox">You are running Firefox <span class="current-firefox">1.0</span>.
        Please update to Firefox <span class="minver-firefox">38.0.1</span>, Tor Browser <span class="minver-tor">5</span>, or newer and visit this link:</p>
        <p id="unsupported-other">Copy and paste this link in Firefox or Tor Browser:</p>
        <code>https://tails.boum.org/download</code>
        <a href="?override=firefox" class="btn btn-lg btn-primary browser-override">I'm already in Firefox <span class="minver-firefox">38.0.1</span>+ or Tor Browser <span class="minver-tor">5</span>+.</a>
      </div>
      <div class="col-md-6 bittorrent">
        <h2>BitTorrent</h2>

        [[!inline pages="install/inc/steps/bittorrent_verification.inline" raw="yes"]]

        <a href='[[!inline pages="inc/stable_i386_torrent_url" raw="yes"]]' class="btn btn-lg btn-primary">Download Torrent file</a>
      </div>
    </div>
  </div>

  <div id="supported-browser">
    <div id="use">
      <p>We detected that you are running Firefox or Tor Browser and already have our Firefox add-on installed.</p>
      <a id="use-button" href="" class="btn btn-lg btn-primary clearfix">
        <span id="use-button-label" class="pull-left">Use Firefox add-on</span>
        <div id="use-button-state" class="pull-right">
          <span class="label label-default state already">Already installed</span>
        </div>
      </a>
      <div id="use-text" class="btn btn-lg disabled clearfix">
        <span id="use-text-label" class="pull-left">Use Firefox add-on</span>
        <div id="use-text-state" class="pull-right">
          <span class="label label-success state done">Done</span>
        </div>
      </div>
    </div>
    <div id="update">
      <p>We detected that you are running Firefox of Tor Browser but have an outdated version of our Firefox add-on.</p>
      <a id="update-button" href="https://addons.mozilla.org/firefox/downloads/latest-beta/673020/addon-673020-latest.xpi" class="btn btn-lg btn-primary clearfix">
        <span id="update-button-label" class="pull-left">Update Firefox add-on</span>
        <div id="update-state" class="pull-right">
          <span class="label label-default state restartless">No restart</span>
        </div>
      </a>
      <div id="update-text" class="btn btn-lg disabled clearfix">
        <span id="update-button-label" class="pull-left">Update Firefox add-on</span>
        <div id="update-text-state" class="pull-right">
          <span class="label label-success state done">Done</span>
        </div>
      </div>
    </div>
    <div id="install">
      <p>We detected that you are running Firefox or Tor Browser.</p>
      <p>You can download the ISO image via our Firefox add-on. The add-on
      verifies your download [[!toggle id="extension-verification" text="automatically"]].</p>

      [[!toggleable id="extension-verification" text="""
      [[!toggle id="extension-verification" text="X"]]
      <p>The verification is based on a cryptographic checksum downloaded from our website.</p>
      """]]

      <a id="install-button" href="https://addons.mozilla.org/firefox/downloads/latest-beta/673020/addon-673020-latest.xpi" class="btn btn-lg btn-primary clearfix">
        <span id="install-button-label" class="pull-left">Install Firefox add-on</span>
        <div id="install-button-state" class="pull-right">
          <span class="label label-default state restartless">No restart</span>
        </div>
      </a>
      <div id="install-text" class="btn btn-lg disabled clearfix">
        <span id="install-text-label" class="pull-left">Install Firefox add-on</span>
        <div id="install-text-state" class="pull-right">
          <span class="label label-success state done">Done</span>
        </div>
      </div>
    </div>
    <p id="bittorrent-minor">or [[!toggle id="bittorrent-verification" text="Download and verify via BitTorrent"]]</p>

    [[!toggleable id="bittorrent-verification" text="""
    [[!toggle id="bittorrent-verification" text="X"]]

    [[!inline pages="install/inc/steps/bittorrent_verification.inline" raw="yes"]]

    <p><a href='[[!inline pages="inc/stable_i386_torrent_url" raw="yes"]]'>Download Torrent file</a></p>
    """]]

  </div>

  <a id="i_have_iso" href="" title="Select an ISO image to verify">I already have an ISO image.</a>

  <div id="download">
    <a id="download-button" href='[[!inline pages="inc/stable_i386_iso_url" raw="yes"]]' class="btn btn-lg btn-primary clearfix iso-url">
      <span id="download-button-label" class="pull-left">Download Tails <span class="iso-version">[[!inline pages="inc/stable_i386_version" raw="yes"]]</span> ISO image
        <small id="download-button-size">(<span class="iso-size-MiB">$SIZE</span> MiB)</small>
      </span>
    </a>
    <div id="download-text" class="btn btn-lg clearfix">
  <div id="download-text-left" class="pull-left clearfix">
      <div id="download-text-label" class="pull-left">Download Tails <span class="iso-version">[[!inline pages="inc/stable_i386_version" raw="yes"]]</span> ISO image
      <small id="download-eta">
        <span class="speed-KBs">$SPEED</span> KB/s &mdash; <span class="downloaded-MiB">$DOWNLOADED</span>/<span class="iso-size-MiB">$SIZE</span> MiB,
        <span data-value="???">
          <span class="eta-mins">???</span>
          <span class="plural">minutes</span>
          <span class="singular">minute</span>
        </span>
        <span data-value="???">
          <span class="eta-secs">???</span>
          <span class="plural">seconds</span>
          <span class="singular">second</span>
        </span>
      </small>
      </div>
      <div id="download-progress" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="$PROGRESS" aria-valuemin="0" aria-valuemax="100" style="width: $PROGRESS">
          <span class="sr-only"><span class="progress-label">$PROGRESS</span> complete</span>
          <span class="progress-label">$PROGRESS</span>
        </div>
      </div>
      <small id="download-path">Downloading to <span class="download-path">$PATH</span></small>
  </div>
  <div id="download-button-state" class="pull-right">
    <a id="download-button-state-retry" href="#" class="btn btn-primary iso-url">Retry</a>
    <span id="download-button-state-pause" class="btn btn-primary">Pause</span>
    <span id="download-button-state-resume" class="btn btn-primary">Resume</span>
    <span id="download-button-state-cancel" class="btn btn-primary label-warning">Cancel</span>
  </div>
      <div id="download-text-state" class="pull-right">
        <span id='download-text-pause'>
  Paused</span>
        <span id ="download-text-done" class="label label-success state">Done</span>
        <span id ="download-text-failed" class="label label-warning state">Failed</span>
      </div>
    </div>
    <div id="download-message">
  <div id="download-message-paused">
  <p>The download has been paused. Click "resume" to go on.</p>
  </div>
  <div id="download-message-failed">
  <p>The download of the ISO image failed! Please check your network connection and try to resume...</p>
  </div>
    </div>
  </div>

  <div id="verify">
    <div id="verify-text" class="btn btn-lg clearfix">
      <div class="pull-left">
        <div id="verify-text-label">Verify ISO image</div>
          <small id="verify-text-calculating">Computing SHA-256 checksum&hellip;</small>
        </div>
      <div id="verify-text-state" class="pull-right">
        <span id="verify-text-state-calculating" class="state calculating label label-info"><span class="verify-progress">$PROGRESS</span></span>
        <span id="verify-text-state-done" class="state success label label-success">Done</span>
        <span id="verify-text-state-failed" class="state failed label label-danger">Failed</span>
      </div>
    </div>
    <div id="verify-text-success" class="bg-success">
      <div class="trophy">
        <p>You downloaded and verified the ISO image successfully!</p>
        <p>You can now continue with the next step and
          <span class="install-clone">[[Open these instructions on another device|install/clone#next]].</span>
          <span class="debian">[[Install <span class="application">Tails Installer</span>|install/debian/usb#next]].</span>
          <span class="windows">[[Install an intermediary Tails|install/win/usb#next]].</span>
          <span class="linux">[[Install an intermediary Tails|install/linux/usb#next]].</span>
          <span class="mac-dvd">[[Burn a Tails DVD|install/mac/dvd#next]].</span>
          <span class="mac-usb">[[Install an intermediary Tails|install/mac/usb#next]].</span>
          <span class="mac-clone">[[Open these instructions on another device|install/mac/clone#next]].</span>
          <span class="dvd">[[Burn Tails on a DVD|install/dvd#next]].</span>
          <span class="upgrade-clone">[[Open these instructions on another device|upgrade/clone#next]].</span>
          <span class="upgrade-tails">[[Install an intermediary Tails|upgrade/tails#next]].</span>
        </p>
        <p class="openpgp">If you are knowledgeable about OpenPGP, you can do additional verification using the <a href='[[!inline pages="inc/stable_i386_iso_sig_url" raw="yes"]]'>OpenPGP signature</a>.</p>
      </div>
      <a href="" class="btn btn-lg btn-link">Download again</a>
    </div>

    <div id="verify-text-failure" class="bg-warning">
      <p>The verification of the ISO image failed! Please try to download again&hellip;</p>
    </div>
    <div id="verify-text-failure-again" class="bg-danger">
      <p>The verification of the ISO image failed again! Please try to download again from a different place or a different computer&hellip;</p>
    </div>
  </div>
</div>
