<h3>Install from another Tails</h3>

<p>If you know someone of trust who uses Tails already, then you can
install your Tails by copying from it. Make sure that this
Tails is up-to-date.</p>

<h4>You need:</h4>
<ul>
  <li>1 other Tails <small>(USB stick or DVD)</small></li>
  <li>1 USB stick <small>(at least 4 GB)</small></li>
  <li>15 minutes to install</li>
</ul>
