[[!meta robots="noindex"]]
[[!meta title="Install from Windows"]]
[[!meta stylesheet="bootstrap" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/overview" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/windows" rel="stylesheet" title=""]]

[[!inline pages="install/inc/tails-installation-assistant.inline" raw="yes"]]

[[<span class="back">Back</span>|install/win]]

<h1 class="text-center">Install from <strong>windows</strong></h1>

[[!inline pages="install/inc/overview" raw="yes"]]

[[
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Let's go!</h3>
  </div>
</div>
|install/win/usb]]

<div class="clearfix"></div>
